.jumbotron {
    text-align: center;
    padding-top: 13%;
    padding-left: 2%;
    padding-right: 2%;
}

.profile {
    padding: 1%;
}

h2 > a:hover {
    text-decoration: none;
    color: #333333;
}

h2 > a {
    color: #333333;
}